In [1]:
import pandas as pd
df = pd.read_csv(r"C:\ERICS_STUFF\StateDrugUtilization\2020_StateDrugUtilizationData.csv") #.query("state=XX")  #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"

# df.sort_values(by=['state'])

only_xx = df[(df['state']=='XX') & (df['total_amount_reimbursed'] > 0)]

pd.options.display.float_format = '${:,.2f}'.format


only_xx.groupby(['quarter'])['total_amount_reimbursed'].sum().reset_index()

#display(only_xx)

   quarter  total_amount_reimbursed
0        1       $18,782,941,829.04
1        2       $18,214,634,566.88
2        3       $19,714,645,455.94
3        4       $19,821,453,368.58

In [4]:
df.total_amount_reimbursed.max()

367592319.14