In [2]:
import pandas as pd
import numpy as np

In [12]:
# import CSV file
df = pd.read_csv(r"C:\ERICS_STUFF\StateDrugUtilization\2020_StateDrugUtilizationData.csv") 

# create list of columns to drop
to_drop = ['utilization_type', 
          'supression_used',
          'medicaid_amount_reimbursed',
          'non_medicaid_amount_reimbursed']


# drop the defined columns. 
# inplace true stating changes should be made directly
df.drop(columns=to_drop, inplace=True)

# change package_size to integer
df.fillna({'package_size':-1}, inplace=True)
df.package_size= df.package_size.astype(int)

# Get rid of all XX states
df = df[df.state != 'XX']

# drop rows where null in a specific column
df_cleansed = df.dropna(axis=0, how="all", subset=['total_amount_reimbursed'])




# display(df)
# display(df_cleansed.dtypes) - To see data types
display(df_cleansed)
df_cleansed_csv = df_cleansed.to_csv('cleansed', index=False)

,state,ndc,labeler_code,product_code,package_size,year,quarter,product_name,units_reimbursed,number_of_prescriptions,total_amount_reimbursed
2601,AK,9540001,9,5400,1,2020,4,NICOTROL,6108.0,37.0,15312.05
2602,AK,13107015730,13107,157,30,2020,1,PAROXETINE,592.0,14.0,266.58
2604,AK,50458057990,50458,579,90,2020,2,XARELTO,3977.0,126.0,60621.75
2608,AK,16729021716,16729,217,16,2020,3,SERTRALINE,317.0,13.0,210.94
2611,AK,603459315,603,4593,15,2020,1,METHYLPRED,399.0,19.0,306.27
...,...,...,...,...,...,...,...,...,...,...,...
4880124,CO,591544305,591,5443,5,2020,1,PREDNISONE,66208.0,5691.0,57993.60
4880125,LA,338055318,338,553,18,2020,4,SODIUM CHL,30450.0,74.0,1589.86
4880132,NY,42192013612,42192,136,12,2020,4,SODIUM SUL,27215.6,80.0,10298.14
4880133,NY,57664050183,57664,501,83,2020,4,MIRTAZAPIN,2942.0,97.0,559.22
4880134,AL,43386009019,43386,90,19,2020,3,GaviLyte -,772000.0,192.0,4149.43